<!doctype html>
<html>

<head>

    <title>chess</title>

    <link rel="stylesheet" type="text/css" href="static/chessboard.min.css">

    <script src="static/jquery.min.js"></script>
    <script src="static/chessboard.min.js"></script>

</head>

<body style="font-size: 20px; background-color: #312e2b;">



    <div>
        <button id="startPositionBtn" onclick=newGame()>restart</button>
        <center>
            <div id="board" style="width:45%;"></div>
        </center>
    </div>

    <script type="text/javascript">
        var board = ChessBoard('board', {
            position: 'start',
            draggable: true,
            onDrop: onDrop,
            orientation: 'black',

        });

        var files = {
            "a": 0,
            "b": 1,
            "c": 2,
            "d": 3,
            "e": 4,
            "f": 5,
            "g": 6,
            "h": 7
        };

        function get_square(sq) {
            return 8 * (parseInt(sq.charAt(1)) - 1) + files[sq.charAt(0)];
        }

        // function onDragStart(source, piece, position, orientation) {
        //     if ((orientation === 'white' && piece.search(/^w/) === -1) ||
        //         (orientation === 'black' && piece.search(/^b/) === -1)) {
        //         return false
        //     }
        // }

        function onDrop(source, target, piece) {

            $.get('/move', {
                'from': get_square(source),
                'to': get_square(target)
            }, function(r) {
                if (r.includes('over')) {

                    console.log("game over")

                    function onDragStart() {
                        return false;
                    }
                } else {
                    board.position(r)
                }
            });
        }

        function newGame() {
            $.get('/newgame', function(r) {
                board.position(r);
            });
        }
    </script>

</body>

</html>