<!doctype html>
<html>

<head>

    <title>chess</title>

    <link rel="stylesheet" type="text/css" href="static/chessboard.min.css">

    <script src="static/jquery.min.js"></script>
    <script src="static/chessboard.min.js"></script>

</head>

<body style="font-size: 20px;">

    <div id="board" style="width: 600px"></div>
    <p></p>

    <div class="multi-button">
        <button id="startPositionBtn" onclick=newGame()>restart</button>
        <button onclick=next()>vs ia</button>
    </div>

    <script type="text/javascript">
        var board = ChessBoard('board', {
            position: 'start',
            draggable: true,
            onDrop: onDrop
        });

        function onDrop() {
            $.get('/move', function(r) {
                board.move(r)
            });
        }

        function newGame() {
            $.get('/newgame', function(r) {
                document.querySelector('p').innerText = '';
                board.position(r);
            });
        }
    </script>

</body>

</html>